
<!-- ###MAIN### -->
DELETING records in table <b>###TABLENAME###</b>
<hr />
###TODELETE### 
###PURGEDBEFORE### 
###OLDDELETEDRECORDS### 
###DELTEDRECORDS### 
<hr />
<a href="#" onclick="window.close(); return false;">You can close this window now.</a>
<!-- ###MAIN### -->

