
<!-- ###MAIN### -->
UNDO DELETITION of records in table <b>###TABLENAME###</b>
<hr />
###TOUNDELETE### 
###RESTOREDRECORDS### 
###STILLDELETEDRECORDS### 
<hr />
<a href="#" onclick="window.close(); return false;">You can close this window now.</a>
<!-- ###MAIN### -->

